@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@100&family=Staatliches&display=swap');
body{
    overflow-x:hidden;
}
.find-out-more{
    display: flex;
    flex-direction: column;
    
  
}
#loading-img{
   width: 300px;
   align-self: center;
}
h1{
    color:#ab5dbb;
    font-family:Dela Gothic One;
    font-size: 21px;
    text-align: center;
    margin-top: -100px;
   
}
